
# 🌐 FRONTEND 

node_modules/
dist/
dist-ssr/
coverage/
build/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env (frontend)
.env.local
.env.development.local
.env.test.local
.env.production.local



# BACKEND 


__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/

uploads/*
!uploads/.gitkeep

#ENV

.env
.env.*
*.env

#MISC
.vscode/*
!.vscode/extensions.json
.idea/

.DS_Store
Thumbs.db


*.pem
*.key
*.crt

*.local
*.zip
*.tar
*.gz